<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%link_to root_path %>">Desafío Cepas 2</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <% if current_user %>
            <%= link_to "Salir", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Ingresar", new_user_session_path %>
            <%end%>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<% link_to new_user_registration_path%>">Inscribirse</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
